h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.person-img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}